@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Medium.eot');
    src: local('AktivGroteskCorp-Medium'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Medium.eot?#iefix') format('embedded-opentype'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Medium.woff2') format('woff2'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Medium.woff') format('woff'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Bold.eot');
    src: local('AktivGroteskCorp-Bold'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Bold.eot?#iefix') format('embedded-opentype'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Bold.woff2') format('woff2'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Bold.woff') format('woff'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Italic.eot');
    src: local('AktivGroteskCorp-Italic'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Italic.eot?#iefix') format('embedded-opentype'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Italic.woff2') format('woff2'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Italic.woff') format('woff'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-LightItalic.eot');
    src: local('AktivGroteskCorp-LightItalic'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-LightItalic.woff2') format('woff2'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-LightItalic.woff') format('woff'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-MediumItalic.eot');
    src: local('AktivGroteskCorp-MediumItalic'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-MediumItalic.woff2') format('woff2'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-MediumItalic.woff') format('woff'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Light.eot');
    src: local('AktivGroteskCorp-Light'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Light.eot?#iefix') format('embedded-opentype'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Light.woff2') format('woff2'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Light.woff') format('woff'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Regular.eot');
    src: local('AktivGroteskCorp-Regular'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Regular.eot?#iefix') format('embedded-opentype'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Regular.woff2') format('woff2'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Regular.woff') format('woff'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-BoldItalic.eot');
    src: local('AktivGroteskCorp-BoldItalic'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-BoldItalic.woff2') format('woff2'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-BoldItalic.woff') format('woff'),
    url('~@/styles/fonts/AktivGroteskCorp/AktivGroteskCorp-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

